node_modules/
.env
*.db
*.db-journal
dist/
.DS_Store
*.log
terraform/terraform.tfvars
terraform/.terraform/
terraform/*.tfstate*
ansible/backend.env
kubectl
minikube-linux-amd64
LICENSE.txt
kubectl
minikube-linux-amd64
LICENSE.txt
